@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

:root {
    --color-one: #103178;
    --color-two: #FEC700;
    --color-text: #818EA9;
    --font: 'Inria Serif', serif;
    /* Nếu có nhiều font thì đặt font-1,font-2 */
}

body {
    font-family: var(--font)
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1100px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}